{% extends "base.html.twig" %}

{% block body %}
<div class="main" style="text-align:center;">
    {% include "card/nav/nav.html.twig" %}
    <p class="card-view">
        {% for card in hand %}
            {{ card.toString() }}
        {% endfor %}
    </p>
    <p>Cards left in deck: {{ cardsLeft }}</p>
</div>


{% endblock %}