{% extends "base.html.twig" %}

{% block body %}
<div class="main" style="text-align:center;">
    {% include "card/nav/nav.html.twig" %}
    <h1>Kortlek</h1>
    <p style="text-align: left;">
    Jag har fyra klasser Card, CardGraphic, CardHand och DeckOfCards.<br>
    - Relationen mellan CardHand och DeckOfCards 채r en associationsrelation eftersom CardHand anv채nder instanser av DeckOfCards.<br><br>
    - Relationen mellan Card och CardGrahpic 채r arv.<br><br>
    - Relationen mellan CardGraphic och DeckOfCards 채r komposition.
    </p>
    
    <div class="card-uml">
        <img src="{{ asset('build/images/card.jpg')}}" alt="">
    </div>
</div>
{% endblock %}