{% extends  ('base.html.twig') %}

{% block body %}
    <div class="main">
        <a href="{{ path('game_start') }}">Starta 21</a>
        <h1>Spelet 21</h1>
        <p>
            Tjugoett är ett kortspel som är den svenska motsvarigheten till det internationellt spridda kortspelet Black Jack.
             De viktigaste skillnaderna mellan dessa två spel är dels kortens värde,
              dels att bankiren i tjugoett spelar mot en spelare i taget och inte som i Black Jack mot alla på en gång.
        </p>
        <h1>Regler</h1>
        <p>
            Spelets idé är att med två eller flera kort försöka uppnå det sammanlagda värdet 21,
             eller komma så nära som möjligt utan att överskrida 21. Essen är värda valfritt 1 eller 14,
              kungarna 13, damerna 12, knektarna 11. Nummerkorten har samma värden som valören.<br><br>

            Om summan av korten är 21 vinner spelaren från banken ett belopp lika stort som insatsen.
             Är summan större än 21 har spelaren ”spruckit” eller ”blivit tjock” och förlorar sin insats till banken.
              Om summan är under 21 kan spelaren antingen förklara sig nöjd eller begära ytterligare kort för att komma närmare 21,
               men då också riskera att spricka.<br><br>

            Om spelaren förklarat sig nöjd, ska bankiren straffa spelaren,
             det vill säga spela ut egna kort från leken, ett i taget med framsidan uppåt. Spricker bankiren,
              vinner spelaren lika mycket som sin insats. När bankiren förklarat sig nöjd, visar spelaren sina kort.
               Den som har högst vinner. Har båda lika är det bankiren som vinner, likaså om bankiren fått 21.<br><br>

        </p>
    </div>
{% endblock %}
