{% extends 'base.html.twig'%}

{% block title %}Session{% endblock %}

{% block body %}
<div class="main">

{{ dump(session) }}

<a href="{{ path('delete_session')}}">Destroy Session</a>

{{ include('flash.html.twig') }}

</div>
{% endblock %}