@import './navbar.css';
@import './footer.css';


header {
    height: 100px;
    border-bottom: 3px solid #cccc;
    background-position: center;
}

body {

    background: linear-gradient(to right, #99b0b3, #789599);
    background-size: cover;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 20px;
    line-height: 1.4rem;
}

.main {
    width: 80%;
    max-width: 72rem;
    margin: 0 auto;
    background-color: rgb(171, 196, 171);
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    height: 100%;
    min-height: calc(100vh - 460px)
}

.main h1 {
    text-decoration: underline;
}

.profile img {

    border-radius: 5px;
    object-fit: cover;
}

.profile {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(171, 196, 171);
    border-radius: 5px;
}


.site-title{
    font-weight: bold;
    font-style: italic;
    color: rgb(247, 247, 248);
}
