footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-top: 3px solid #cccc;
    width: 100%;
    background-color: green;
    height: 200px;
    background: linear-gradient(to right, #114c53, #4e8991);
}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}