{% extends 'base.html.twig' %}

{% block title %}api{% endblock %}

{% block body %}
<div class="main">
<div class="profile"><a href="{{ path('quote')}}">/api/quote</a> | <a href="{{ path('number')}}">/api/lucky/number</a></div>
</div>
{% endblock %}