{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="main">
    <h1 style="text-align:center;">Report</h1>
    <br>
    <h1 id="kmom01">Kmom01</h1>
    <p>
        Mina tidigare kunskaper kring objektorientering kommer ifrån OOP kursen, där vi skapade två hemsidor,
        en yahtzee och en spellchecker hemsida där vi använde oss av ett prefix träd (trie) i Flask.
    </p>
    <p>
        En klass är som en mall för hur man skapar ett objekt, den beskriver vad den har för attribut (variabler) och metoder (funktioner).
        Ett objekt är ett exempel av en klass. Metoderna i en klass kan användas för att ändra objektets värden eller även utföra diverse uppgifter.
        Man kan skapa flera objekt från samma klass, och varje objekt kan ha sina egna värden.
        Genom att använda objekt och klasser blir koden mer organiserad och lättare att underhålla.
    </p>
    <p>
        Ramverk känns väldigt komplicerade, tusentals filer varav hälften av dem som man inte förstår vad de fyller för funktion.
        Men än så länge har det flytit på bra. Sist jag satt med ramverk var i design-kursen (Pico) och då blev man extremt överväldigad,
         nu känns det kanske lite bättre. Jag gillar verkligen hur man delar upp htmlen i blocks känns mycket smidigare än massa imports/includes hit och dit.
    </p>
    <p>
        TIL PHP och ramverk är inte lika läskiga som jag trodde.
    </p>

    <h1 id="kmom02">kmom02</h1>
    <p>
        När man skapar en klass och ärver från en annan så får den klassen alla dess attribut och metoder,
        du kan lägga till nya attribut och metoder eller skriva över dem i den nya klassen.<br>
        Komposition är när en klass innhåller en instans av en annan klass t.ex. CardHand har Card som komposition.<br>
        Interface är som ett schema som klassen måste följa, den måste ha de metoder som interfacet har bestämt.<br>
        Traits är en sammansättning av funktioner (metoder) som man kan 'importera' till en klass.
    </p>
    <p>
        Jag började med att skapa klasserna enligt instruktionerna. I uppgiften använder jag mig varken av Interface eller Traits. 
        Men både arv och komposition används. Är mycket nöjd med hur smidigt uppgiften gick, sedan finns det nog oändligt mycket att förbättra.
        Just nu är min CardGraphic klass nog inte alls optimalt implementerad, men det funkar så som det är nu.
        Tyckte att detta kursmomentet var väldigt kul, att sitta och koda objektorienterat är väldigt givande.
    </p>
    <p>
        Än så länge tycker jag det har flytit på bra att jobba med Symfony.
        Det känns fortfarande som man inte har koll på vad hälften av sakerna gör, men det börjar väl klarna lite. 
        Jag förstår inte riktigt de stora fördelarna med ramverket men det kommer väl senare kanske.
    </p>
    <p>
        TIL vad Interface och Trait är för något. Jag har också blivit säkrare i mina OOP skills.
    <p>
</div>


{% endblock %}