{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="main">
    <h1 style="text-align:center;">Report</h1>
    <br>
    <h1 id="kmom01">Kmom01</h1>
    <p>
        Mina tidigare kunskaper kring objektorientering kommer ifrån OOP kursen, där vi skapade två hemsidor,
        en yahtzee och en spellchecker hemsida där vi använde oss av ett prefix träd (trie) i Flask.
    </p>
    <p>
        En klass är som en mall för hur man skapar ett objekt, den beskriver vad den har för attribut (variabler) och metoder (funktioner).
        Ett objekt är ett exempel av en klass. Metoderna i en klass kan användas för att ändra objektets värden eller även utföra diverse uppgifter.
        Man kan skapa flera objekt från samma klass, och varje objekt kan ha sina egna värden.
        Genom att använda objekt och klasser blir koden mer organiserad och lättare att underhålla.
    </p>
    <p>
        Ramverk känns väldigt komplicerade, tusentals filer varav hälften av dem som man inte förstår vad de fyller för funktion.
        Men än så länge har det flytit på bra. Sist jag satt med ramverk var i design-kursen (Pico) och då blev man extremt överväldigad,
         nu känns det kanske lite bättre. Jag gillar verkligen hur man delar upp htmlen i blocks känns mycket smidigare än massa imports/includes hit och dit.
    </p>
    <p>
        TIL PHP och ramverk är inte lika läskiga som jag trodde.
    </p>
</div>


{% endblock %}