{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<h1>Home</h1>
<div class="profile">
    <a href="{{ asset('build/images/me.jpg') }}">
        <img src="{{ asset('build/images/me.jpg')}}" alt="">
    </a>
    <p>
        Jag heter Vincent Persson. Född och uppväxt i södra Sverige även kallat skåne, 
        där jag har bott hela mitt liv Tekniken har alltid varit av ett stort intresse därav valet av utbildning.
        Min största hobby är väl tävlingsinriktad gaming, men utöver det är kost och hälsa ett stort intresse.
    </p>
</div>
{% endblock %}